<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home</title>
    <script>
        let navbarAnchors;
        let canvas;

        window.onload = () => {
            // Navbar anchor onclick
            for(let anchor of (navbarAnchors = document.querySelectorAll("#navbar a"))){
                anchor.onclick = () => {
                    updateActivePageAnchor(anchor);
                };
            }

            // Copy-right year
            document.querySelector("#copy-year").innerText = new Date().getFullYear();

            // Window location
            let location = document.querySelector("#location");
            location.innerText = location.href = window.location;

            // Background canvas
            canvas = document.createElement("canvas");
            canvas.id = "background-canvas";
            document.prepend(canvas);
        };

        function toggleNavigation(){
            document.body.classList.toggle("open-navigation");
        }

        function updateActivePageAnchor(element){
            for(let anchor of navbarAnchors)
                anchor.classList.remove("active");

            element.classList.add("active");
        }
    </script>
</head>
<body>
    <header>
        <div class="flex-container">
            <div id="logo">
                <a href="#">
                    <p>Thomas vanBommel</p>
                </a>
            </div>
            <div class="flex-spacer"></div>
            <div id="navbutton" onclick="toggleNavigation()">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div id="navbar">
            <a href="#" class="active">Home</a>
            <a href="#">About</a>
            <a href="#">Images</a>
        </div>
    </header>
    <div id="content">
        Location: <a href="#" id="location"></a>
    </div>
    <footer>
        &copy; <span id="copy-year"></span>
    </footer>
</body>
</html>